<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Ropu</a>
      <div *ngIf="loggedIn" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/users"]'>Users</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/groups"]'>Groups</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="loggedIn" > {{ user.name }} </div>
    <div *ngIf="!loggedIn" > 
      <button class="btn btn-primary" (click)="onSignIn()">SIGN IN</button>
    </div>
  </nav>
</header>
