<form class="form-signin" #createForm="ngForm" (ngSubmit)="create(createForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading">Create User</h2>
        <div *ngIf="invalidGroup" class="alert alert-danger">Invalid group details.</div>
        <br/>
        <label for="name" class="sr-only">Name</label>
        <input type="name" id="name" name="name" ngModel class="form-control" placeholder="Name" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Group</button>
    </div>
</form>