<div *ngIf="loaded" class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <img src="api/Image/{{ user.imageHash }}" height=32 width=32>
    </div>
    <div class="d-flex justify-content-center">
        <h2 style="text-align:center">{{ user.name }}</h2>
    </div>
    <div *ngIf="user.email != null" class="d-flex justify-content-center">
        {{ user.email }}
    </div>
    <div class="d-flex justify-content-center">
        <div *ngFor="let role of user.roles" style="margin:5px;">
            <i> {{ role }} </i>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button *ngIf="editable" type="button" class="btn btn-primary" (click)="editUser(user);">
            Edit
        </button>
    </div>
</div>