<div *ngIf="loaded" class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <img src="api/Image/{{ group.imageHash }}" height=32 width=32>
    </div>
    <div class="d-flex justify-content-center">
        <h2 style="text-align:center">{{ group.name }}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button *ngIf="editable" type="button" class="btn btn-primary" (click)="editGroup(group);">
                Edit
            </button>
            <button *ngIf="editable" type="button" class="btn btn-secondary" (click)="deleteGroup(group);">
                Delete
            </button>
            <button *ngIf="!isMember()" type="button" class="btn btn-success" (click)="joinGroup(group);">
                Join
            </button>
            <button *ngIf="isMember()" type="button" class="btn btn-danger" (click)="leaveGroup(group);">
                Leave
            </button>
        </div>
    </div>
    <br>
    <table class='table table-striped' *ngIf="members">
        <tbody>
          <tr *ngFor="let user of members" (click)="showUser(user);">
            <td><img src="api/Image/{{ user.imageHash }}"  height=32 width=32></td>
            <td>{{ user.name }}</td>
          </tr>
        </tbody>
    </table>
</div>