<div *ngIf="loaded" class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <img src="api/Image/{{ group.imageHash }}" height=32 width=32>
    </div>
    <div class="d-flex justify-content-center">
        <h2 style="text-align:center">{{ group.name }}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <button *ngIf="editable" type="button" class="btn btn-primary" (click)="editGroup(group);">
            Edit
        </button>
        <button *ngIf="editable" type="button" class="btn btn-secondary" (click)="deleteGroup(group);">
            Delete
        </button>
    </div>
    <div class="d-flex justify-content-center">
        <button *ngIf="editable" type="button" class="btn btn-success" (click)="joinGroup(group);">
            Join
        </button>
    </div>
    <div class="d-flex justify-content-center">
        
    </div>
</div>