<h1>Welcome to Ropu</h1>
<p>Ropu is a group Push To Talk system, designed from the ground up for efficency and lwo latency.</p>
<p>Ropu is not built on SIP like other Push To Talk systems, but instead uses a much more efficent binary protocol.</p>
<ul>
  <li><a href='https://github.com/trampster/Ropu'>Source Code</a> is available on github under the <a href='https://github.com/trampster/Ropu/blob/master/LICENSE'>AGPL</a> licence.</li>
</ul>
<p>Ropu is currently pre alpha, please report any bugs on github.</p>

